- select the best params

we will select the model using 50k strings of data, then search the best params with more

In [86]:
!pip install joblib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (1.2.0)

In [87]:
import gc
import joblib

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier

from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

### loading data

In [19]:
data = pd.read_csv('/content/data.csv', nrows=50000)
data.head()

   Unnamed: 0  Unnamed: 0.1    0    1    2    3  ...  779  780  781  782  783  784
0           0             0    0    0    0    0  ...    0    0    0    0    0   13
1           1             1    0    0    0    0  ...    0    0    0    0    0    5
2           2             2  255  255  255  255  ...    0    0    0    0    0    8
3           3             3    0    0    0    0  ...    0    0    0    0    0    1
4           4             4    0    0    0    0  ...    0    0    0    0    0    9

[5 rows x 787 columns]

In [20]:
data.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)

In [21]:
data.head()

     0    1    2    3    4   5  6    7  ...  777  778  779  780  781  782  783  784
0    0    0    0    0    0   0  0    0  ...    0    0    0    0    0    0    0   13
1    0    0    0    0    0   0  0    0  ...    0    0    0    0    0    0    0    5
2  255  255  255  255  237  91  0    0  ...    0    0    0    0    0    0    0    8
3    0    0    0    0    0   0  0  150  ...    0    0    0    0    0    0    0    1
4    0    0    0    0    0   0  0    0  ...    0    0    0    0    0    0    0    9

[5 rows x 785 columns]

In [12]:
# full_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/handwritten_symb/data.csv')
# full_data.shape

(333895, 786)

In [13]:
# full_data.to_csv('./data.csv', index=False)

In [15]:
# del full_data
# gc.collect()

655

### train test split

In [22]:
x = data.drop(columns=['784'])
y = data['784']
x.shape, y.shape

((50000, 784), (50000,))

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=21)

### Random Forest Classifier

In [88]:
params = {
    'n_estimators': 400,
    'random_state': 21,
    'min_samples_leaf': 1,
    'min_samples_split': 3,
    'n_jobs': 3
}

In [89]:
model = RandomForestClassifier(**params)

In [90]:
model.fit(x_train, y_train)

RandomForestClassifier(min_samples_split=3, n_estimators=400, n_jobs=3,
                       random_state=21)

In [91]:
y_pred = model.predict(x_test)

In [92]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.97      1.00      0.98       601
           1       0.94      0.86      0.89       607
           2       0.95      0.91      0.93       601
           3       0.93      0.92      0.92       675
           4       0.92      0.95      0.94       673
           5       0.95      0.95      0.95       627
           6       0.98      0.98      0.98       622
           7       0.89      0.90      0.90       621
           8       0.95      0.94      0.95       607
           9       0.90      0.89      0.90       647
          10       0.95      0.97      0.96       665
          11       0.91      0.90      0.91       640
          12       0.97      0.93      0.95       584
          13       0.87      0.98      0.92       690
          14       0.97      0.98      0.97       596
          15       0.92      0.90      0.91       544

    accuracy                           0.93     10000
   macro avg       0.94      0.93      0.93     10000
weighted avg       0.93      0.93      0.93     10000

We didnt put max_depth, because overfitted tree works better)

0.93 accuracy - the best result we can get with Random Forest

In [93]:
joblib.dump(model, './random_forest.pkl')

['./random_forest.pkl']